In [1]:

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
train_data = pd.read_csv('../datasets/titanic_data/train.csv')

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
train_data['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [7]:
test_data = pd.read_csv('../datasets/titanic_data/test.csv')

In [8]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [9]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [8]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [10]:
men = train_data.loc[train_data.Sex == 'male']['Survived']
rate_men = sum(men)/len(men)

print("% of men who survived: ", rate_men)

% of men who survived:  0.18890814558058924

In [11]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.1-cp312-cp312-win_amd64.whl.metadata (12 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\classes\ml\env\lib\site-packages (from scikit-learn) (2.0.0)
Collecting scipy>=1.6.0 (from scikit-learn)
  Using cached scipy-1.14.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.1-cp312-cp312-win_amd64.whl (10.9 MB)
   ---------------------------------------- 0.0/10.9 MB ? eta -:--:--
    --------------------------------------- 0.2/10.9 MB 3.5 MB/s eta 0:00:04
   - -------------------------------------- 0.5/10.9 MB 4.7 MB/s eta 0:00:03
   -- ------------------------------------- 0.6/10.9 MB 4.9 MB/s eta 0:00:03
   --- ------------------------------------ 0.9/10.9 MB 5.3 MB/s eta 0:00:02
   --- ------------------------------------ 1.1/10.9 MB 5.2 MB/s eta 0:00:02
   ----- ---------------------------------- 1.4/10.9 MB 5.3 MB/s eta 0:00:02
   ------ --------------------------------- 1.7/10.9 MB 5.3 MB/s eta 0:00:02
   ------- -------------------------------- 2.0/10.9 MB 5.6 MB/s eta 0:00:02
   -------- ------------------------------- 2.2/10.9 MB 5.5 MB/s eta 0:00:02
   --------- ------------------------------ 2.5/10.9 MB 5.5 MB/s eta 0:00:02
   ---------- ----------------------------- 2.8/10.9 MB 5.6 MB/s eta 0:00:02
   ----------- ---------------------------- 3.0/10.9 MB 5.9 MB/s eta 0:00:02
   ----------- ---------------------------- 3.3/10.9 MB 5.6 MB/s eta 0:00:02
   ------------ --------------------------- 3.5/10.9 MB 5.5 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/10.9 MB 5.5 MB/s eta 0:00:02
   -------------- ------------------------- 4.0/10.9 MB 5.5 MB/s eta 0:00:02
   --------------- ------------------------ 4.2/10.9 MB 5.5 MB/s eta 0:00:02
   ---------------- ----------------------- 4.5/10.9 MB 5.5 MB/s eta 0:00:02
   ----------------- ---------------------- 4.8/10.9 MB 5.6 MB/s eta 0:00:02
   ------------------ --------------------- 5.1/10.9 MB 5.6 MB/s eta 0:00:02
   ------------------- -------------------- 5.3/10.9 MB 5.6 MB/s eta 0:00:02
   -------------------- ------------------- 5.6/10.9 MB 5.6 MB/s eta 0:00:01
   --------------------- ------------------ 5.8/10.9 MB 5.5 MB/s eta 0:00:01
   ---------------------- ----------------- 6.1/10.9 MB 5.5 MB/s eta 0:00:01
   ---------------------- ----------------- 6.2/10.9 MB 5.5 MB/s eta 0:00:01
   ----------------------- ---------------- 6.5/10.9 MB 5.6 MB/s eta 0:00:01
   ------------------------ --------------- 6.7/10.9 MB 5.4 MB/s eta 0:00:01
   ------------------------- -------------- 6.9/10.9 MB 5.5 MB/s eta 0:00:01
   -------------------------- ------------- 7.2/10.9 MB 5.5 MB/s eta 0:00:01
   --------------------------- ------------ 7.4/10.9 MB 5.5 MB/s eta 0:00:01
   --------------------------- ------------ 7.5/10.9 MB 5.3 MB/s eta 0:00:01
   ---------------------------- ----------- 7.7/10.9 MB 5.3 MB/s eta 0:00:01
   ----------------------------- ---------- 8.0/10.9 MB 5.3 MB/s eta 0:00:01
   ----------------------------- ---------- 8.0/10.9 MB 5.2 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/10.9 MB 5.1 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/10.9 MB 5.0 MB/s eta 0:00:01
   ------------------------------ --------- 8.4/10.9 MB 4.9 MB/s eta 0:00:01
   ------------------------------ --------- 8.4/10.9 MB 4.9 MB/s eta 0:00:01
   ------------------------------- -------- 8.5/10.9 MB 4.8 MB/s eta 0:00:01
   ------------------------------- -------- 8.6/10.9 MB 4.8 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/10.9 MB 4.8 MB/s eta 0:00:01
   --------------------------------- ------ 9.1/10.9 MB 4.8 MB/s eta 0:00:01
   ---------------------------------- ----- 9.3/10.9 MB 4.8 MB/s eta 0:00:01
   ---------------------------------- ----- 9.5/10.9 MB 4.7 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/10.9 MB 4.7 MB/s eta 0:00:01
   ----------------------------------- ---- 9.8/10.9 MB 4.7 MB/s eta 0:00:01
   ------------------------------------ --- 10.1/10.9 MB 4.7 MB/s eta 0:00:01
   ------------------------------------- -- 10.3/10.9 MB 4.7 MB/s eta 0:00:01
   -------------------------------------- - 10.4/10.9 MB 4.7 MB/s eta 0:00:01
   -------------------------------------- - 10.5/10.9 MB 4.6 MB/s eta 0:00:01
   -------------------------------------- - 10.5/10.9 MB 4.6 MB/s eta 0:00:01
   -------------------------------------- - 10.5/10.9 MB 4.6 MB/s eta 0:00:01
   -------------------------------------- - 10.6/10.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  10.7/10.9 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------- 10.9/10.9 MB 4.1 MB/s eta 0:00:00
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached scipy-1.14.0-cp312-cp312-win_amd64.whl (44.5 MB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.1 scipy-1.14.0 threadpoolctl-3.5.0

In [12]:
from sklearn.ensemble import RandomForestClassifier

y = train_data['Survived']
features = ['Pclass', 'Sex','SibSp','Parch']
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth = 5, random_state=1)
model.fit(X,y)
predictions = model.predict(X_test)

output = pd.DataFrame({'passengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print('Your submission was successfully saved!')

Your submission was successfully saved!

In [ ]:
# code referred from 
# https://www.kaggle.com/code/alexisbcook/titanic-tutorial/notebook

In [ ]:
# let's try a, b then logistics regression and compare result